body{

    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #000000;
}



header{
    background-color: #4b2cff;
    color: rgb(248, 243, 243);
    text-align: center;
    padding: 30px;
}

main{
    width: 80%;
    margin: auto;
}

section{
    background: rgb(211, 211, 218);
    padding: 20px;
    margin-top: 20px;
    border-left: 6px solid #3a2a8a;
    border-radius: 5px;
}

h1{
    margin: 0;
}

h2{
    color: #15102e;
}

ul{
    margin-top: 10px;
}

li{
    margin-bottom: 6px;
}

footer{
    text-align: center;
    padding: 1%;
    margin-top: 30px;
    background: #523bcf;
    color: rgb(243, 241, 241);
}


footer a{
    text-decoration: none;
    color: rgb(243, 241, 241);
}



